*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
    font-family: "Raleway", sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background-color: rgb(112, 112, 112);
}
body{
    background-color: darkgray;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: rgb(54, 0, 105);
}
.navlist{
    display: flex;
}
.navlist a{
    color: azure;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid violet;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid blueviolet; 
}
#menu-icon{
    color: azure;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.texto{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59, #4d9559 0%, #38703d 28.53%, #133917 75.52);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 10%;
}
.texto-text h5{
    font-size: 19px;
    font-weight: 400;
    color: blueviolet;
    margin-bottom: 10px;
}
.texto-text h1{
    font-family: "Oswald", sans-serif;
    font-size: 79px;
    line-height: 1;
    color: aliceblue;
    margin: 0 0 30px;
    margin-top: 5px;
}
.texto-text h4{
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}
.texto-text p{
    font-family: "Ubuntu Sans Mono", monospace;
    color: aliceblue;
    font-size: 25px;
    line-height: 1.9;
    margin-bottom: 10px;
}
.logo-img img{
    width: 700px;
    height: auto;
}
.texto-text a{
    display: inline-block;
    color: aliceblue;
    background: #968295;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.texto-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translate(3px);
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 5%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 32px 0;
    font-size: 25px;
    color: blueviolet;
    transition: all .50s ease;
}
.icons i:hover{
    color:blueviolet;
    transform: translateY(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: aliceblue;
    background: rgb(134, 134, 134);
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}
.ejemplo{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;

}
.card{
    background-color: dimgray; 
}
.btn{
    background-color: blueviolet;
    border-style: none;
}
.btn:hover{
    background-color: rgb(106, 85, 126);
}

@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width: 1340px){
    .logo-img img{
        width: 100%;
        height: auto;
    }
    .texto-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .texto-text{
        padding-top: 115px;
    }
    .logo-img{
        text-align: center;
    }
    .logo-img img{
        width: 560px;
        height: auto;
    }
    .texto{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}

@media (max-width: 1195px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: transparent;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 8px;
    }
    .navlist.open{
        right: 0;
    }
}
@media (max-width: 680px){
    .logo-img img{
        width: 100%;
        height: auto;
        
    }
}
